@model POO.Models.ModeloVentas
<div class="mx-auto" style="width:35%">
	<form asp-controller="VentasModelo" asp-action="AgregarProducto" method="post">
		<fieldset class="form-group border p-3">
			<legend style="text-align:center">Venta de Productos</legend>
			<hr />
			<div class="form-group">
				<label for="nit">Nit:</label>
				<input type="text" class="form-control" id="nit" name="MProducto.nit" required />
			</div>
			<div class="form-group">
				<label for="nombre">Nombre de la empresa:</label>
				<input type="text" class="form-control" id="nombre" name="MProducto.nombre" required />
			</div>
			<div class="form-group">
				<label for="nombreProducto">Seleccione Producto:</label>
				<select class="form-control" id="nombreProducto" name="MProducto.nombreProducto">
					<option value="Vasos">Vasos</option>
					<option value="Ollas">Ollas</option>
					<option value="Cafeteras">Cafeteras</option>
					<option value="Hornos">Hornos</option>
				</select>
			</div>
			<div class="form-group">
				<label for="cantidad">Cantidad:</label>
				<input type="number" class="form-control" id="cantidad" name="MProducto.cantidad" required />
			</div>
			<div class="form-group">
				<label for="precio">Precio:</label>
				<input type="number" step="0.01" class="form-control" id="precio" name="MProducto.precio"
					   required />
			</div>
			<div style="justify-content:center;display:flex">
				<button type="submit">Adicionar Producto</button>
			</div>
		</fieldset>
	</form>
	@if (@Model.TotalVentas > 0)
	{
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Nit</th>
					<th>Empresa</th>
					<th>Producto</th>
					<th>Cantidad</th>
					<th>Precio Unitario</th>
					<th>SubTotal</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var producto in Model.MProductos)
				{
					<tr>
						<td>@producto.nit</td>
						<td>@producto.nombre</td>
						<td>@producto.nombreProducto</td>
						<td>@producto.cantidad</td>
						
						<td>@producto.precio.ToString("N2")</td>
						<td>@producto.TotalVenta.ToString("N2")</td>
					</tr>
				}
			</tbody>
		</table>
		<fieldset class="form-group border p-3">
			<h4 style="text-align:center">Total de Ventas: @Model.TotalVentas.ToString("N2")</h4>
		</fieldset>
	}
</div>
